@model IEnumerable<NovaVida.Models.ProductReviews>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.register)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.review)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDProduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.register)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.review)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDProductReviews">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IDProductReviews">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IDProductReviews">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
